/*
!/bootstrap*
!/.inputrc
!/.vim*
!/.gitconfig
!/.gitignore
!/.gitexcludes
!/.gitmodules
!/.gittemplates
!/.ackrc
!/.config*
!/.mutt*
.mutt/error.log
!/.offlineimaprc
!/.pip*
!/.mail/*
!/.notmuch-config
!/venvs/
!/.vim/*
!/.xinitrc
!/.Xdefaults
!/.zsh*
!/.fzf.zsh
!/.bashrc
.viminfo
.zsh_history
