/*
!/bootstrap*
/bootstrap/vault-pw
/bootstrap/openvpn-client@.service
/bootstrap/rdu.conf
/bootstrap/ca.crt
!/.inputrc
!/.vim*
!/.gitconfig
!/.gitignore
!/.gitexcludes
!/.gitmodules
!/.gittemplates
!/.ackrc
!/.mutt*
.mutt/error.log
!/.offlineimaprc
!/.pip*
!/.mail/*
!/.notmuch-config
!/.urxvt*
!/venvs/
!/.vim/*
!/.xinitrc
!/.Xdefaults
!/.Xmodmap
!/.zsh*
!/.fzf.zsh
!/.bashrc
.viminfo
.zsh_history
