[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/chapa.vim"]
	path = .vim/bundle/chapa.vim
	url = https://github.com/alfredodeza/chapa.vim
[submodule ".vim/bundle/colorsupport.vim"]
	path = .vim/bundle/colorsupport.vim
	url = https://github.com/vim-scripts/colorsupport.vim
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
